

body {
	background-repeat: no-repeat;
	background-position: top right;
	background-image: url(back-ground01.jpg);
	background-attachment: fixed;
}



div.carousel-cell img{
	margin:10px;

}
.column-label{
	text-align: center;
}
