html{
	background:lightgoldenrodyellow;
	background-image: url("/public_html/image/back-ground01.jpg");

}
body {
	margin: 0 auto;
	padding: 2%;
	font-family: "Arial Hebrew Scholar", SansSerif;
	background: white;
}

.navbar{
	background-color: darkgrey;
	border-color:black;
	text-align:right;
	padding: 10px 0 10px 0;
	-webkit-text-stroke-color: white;

}
.nav > li {
	display:inline-block;

}

div.carousel-cell img{
	margin:10px;

}
.column-label{
	text-align: center;
}





