html{
	background:lightgoldenrodyellow;
	background-image: url("/public_html/image/back-ground01.jpg");
}
body{
	width:80%;
	margin:0 auto;
	background:white;
}
.jumbotron{
	font-family: 'Dancing Script', cursive;
}


div.carousel-cell img{
	margin:10px;

}
.column-label{
	text-align: center;
}
