html{
	background:lightgoldenrodyellow;
	background-image: url("/public_html/image/back-ground01.jpg");
}
body{
	margin:0 auto;
	background:white;


div.carousel-cell img{
	margin:10px;

}
.column-label{
	text-align: center;
}
